:root{
  --white:#ffffff;
  --soft-pink:#f8dce5;
  --blush:#f3c6d4;
  --cream:#faf7f4;
  --warm-gray:#6f6f6f;
  --gold:#e7c873;
}

/* Background */

body{
  margin:0;
  font-family: "clother", sans-serif;
font-weight: 400;
font-style: normal;

  background:
    repeating-linear-gradient(
      0deg,
      #ffffff,
      #ffffff 40px,
      #fdeaf0 40px,
      #fdeaf0 80px
    );
  color:#333;
}
h1, h2, h3 {
    font-family: "green-fairy-full-combo", sans-serif;
    font-weight: 800;
    font-style: normal;
}
/* Header */

header{
  background:var(--cream);
  text-align:center;
  padding:40px 20px;
  border-bottom:6px solid var(--gold);
}

.subtitle{
  color:var(--warm-gray);
}

nav{
  margin-top:15px;
}

nav a{
  margin:0 12px;
  text-decoration:none;
  font-weight:bold;
  color:#b76e79;
}

/* Card Sections */

.card{
  background:rgba(255,255,255,.95);
  max-width:1000px;
  margin:30px auto;
  padding:30px;
  border-radius:16px;
  border:5px solid var(--gold);
}

/* Slideshow */

.slideshow-container{
  max-width:700px;
  margin:auto;
  overflow:hidden;
  border-radius:12px;
}

.slide{display:none;width:100%}
.slide.active{display:block}

/* Gallery */

.gallery{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
  gap:18px;
}

.photo-card{position:relative}

.photo-card img{
  width:100%;
  border-radius:10px;
  cursor:pointer;
}

.heart-btn{
  position:absolute;
  bottom:8px;
  right:8px;
  background:var(--soft-pink);
  border:none;
  border-radius:20px;
  padding:6px 10px;
  cursor:pointer;
}

/* Lightbox */

.lightbox{
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.9);
  justify-content:center;
  align-items:center;
  z-index:999;
}

.lightbox img{
  max-width:90%;
  max-height:90%;
  border-radius:12px;
}

.close{
  position:absolute;
  top:20px;
  right:30px;
  font-size:40px;
  color:white;
  cursor:pointer;
}

/* Guestbook */

#memory-form{
  display:flex;
  flex-direction:column;
  gap:12px;
  max-width:500px;
  margin:auto;
}

#memory-form input,
#memory-form textarea{
  padding:12px;
  border-radius:8px;
  border:2px solid var(--blush);
  font-size:16px;
}

#memory-form button{
  background:var(--blush);
  border:none;
  padding:12px;
  border-radius:8px;
  font-weight:bold;
  cursor:pointer;
}

.memory{
  background:var(--soft-pink);
  margin:20px auto;
  padding:15px;
  max-width:650px;
  border-radius:10px;
}

/* Footer */

footer{
  text-align:center;
  padding:20px;
  color:var(--warm-gray);
}
/* Mobile */

@media(max-width:768px){
header h1{font-size:1.5rem}
}
